/* src/app/page.module.css */
.main {
  min-height: 100vh;
  padding: 2rem;
  background-color: #fffdf8; /* Color crema */
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.titulo {
  color: #d32f2f; /* Rojo Pizza */
  text-align: center;
  margin-bottom: 20px;
}

.form_container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  border: 1px solid #ddd;
}

.input_group {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn_add {
  background-color: #2e7d32; /* Verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.grid_pedidos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card_pedido {
  background: white;
  border-left: 5px solid #ff9800; /* Naranja */
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
}

.btn_delete {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.8rem;
}

body {
  color: black; /* Forzamos texto negro en toda la app */
  background: white;
}